@tailwind base;
@tailwind components;
.form-control {
  @apply bg-gray-100 text-gray-900 w-full rounded-lg border;
}
.form-control:focus {
  @apply outline-primary bg-white;
}
@tailwind utilities;

.lock-icon {
  background-image: url("./assets/icons/lock.svg");
  display: inline-block;
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 25px;
}
.at-icon {
  background-image: url("./assets/icons/envelope.svg");
  display: inline-block;
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 25px;
}
